/* fonts */

.heading-1-2 {
    font-family: "Open Sans";
    font-size: 4em;
    font-weight: 300;
}

.paragraph {
    font-size: 1.15em;
    font-weight: 400;
}

.name {
    font-size: 2em;
    font-weight: 300;
}

.inline-text {
    display: inline;
}

.bold-text {
    font-weight: 700;
}

.pricing-text {
    font-size: 2rem;
    font-weight: 400;
    color: #5BACC3;
}


/* navigation */
.nav-links{
    list-style-type: none;
}

/* buttons */
.button {
    background-color: #5BACC3;
    color: white;
    font-size: 1.3rem;
    border: none;
    max-width: 80%;
    Padding: 15px 30px;
    text-decoration: none;
}

.button-shop-now {
    display: block;
    padding-top: 40px;
}

.button-view-all {
    margin-left: 46%;
    position: relative;
}

/* Hero Image */
.hero-image-container {
    position: relative;
    margin-bottom: 0;
    height: 700px;
}

.hero-image-title {
    margin: 0;
}

.hero-image {
    margin-left: 60%;
    margin-top: 3%;
}

.hero-copy--container {
    display: inline-block;
    width: 30%;
    position: absolute;
    margin: 180px 0 0 150px;
}

.hero-copy--container p {
    display: inline-block;
    width: 400px;
}

/* Products Section */
.product-images {
    Min-height: 240px;
    Max-height: 550px;
}

.products-section--container {
    height: 800px;
}

.product-items--container {
    width: 100%;
    height: 550px;
    padding-left: 15%;
    padding-bottom: 25px;
}

.products-heading {
    text-align: center;
    margin-top: 0;
}

.product-card {
    background-color: white;
    width: 12%;
    display: inline-block;
    margin: 0 80px 25px 80px;
    text-align: center;
    padding: 40px 50px;
    Border-radius: 10px;
    Box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}
.product-card--center {
    background-color: white;
    width: 12%;
    /* height: 350px; */
    display: inline-block;
    margin: 0 0 15px 0;
    text-align: center;
    padding: 30px 50px 45px 50px;
    Border-radius: 10px;
    Box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}

/* Deal Section */
.deal-container {
    height: 500px;
    display: inline-block;
    margin-left: 13%;
}

.deal {
    background-color: #393939;
    width: 100%;
    color: white;
    font-size: 45px;
    margin: 15% 0 0 10%;
    text-align: center;
    padding: 4% 7%;
}

/* Footer */
.footer-container {
    width: 100%;
    max-height: 260px;
    padding-left: 10%;
}

.address-details {
    font-style: normal;
}

.footer-item .name {
    margin-bottom: 15px;
}
.footer-item {
    display: inline-block;
    margin: 4% 7% 10% 7%;
}

.footer-item--first {
    display: inline-block;
    margin-left: 13%;
}

.footer-item p {
    margin-bottom: 0;
    margin-top: 0;
}

.foot-item--hours {
    margin-left: 0;
    margin-right: 0;
}

.social-icons {
  width: 16%;
  height: 16%;
  display: inline-block; 
  margin-top: 0;
}

.social-icons a {
    text-decoration: none;
}